.toggleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 10px;
  }
  
  .toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .toggleButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px #aaa;
  }
  
  .icon {
    color: #f1c40f; /* Default color for FaMoon */
    font-size: 24px;
  }
  
  .dark-mode .icon {
    color: #f39c12; /* Color for FaSun in dark mode */
  }
  
  .dark-mode .toggleButton:focus {
    box-shadow: 0 0 0 2px #f39c12;
  }
  
  body.dark-mode {
    background-color: #000;
    color: #fff;
  }
  