.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px; /* Jarak antara tombol dengan elemen lain */
}

.toggleButton {
  background: none; /* Buat tombol tidak memiliki background */
  border: none; /* Hilangkan border tombol */
  cursor: pointer; /* Tampilkan kursor sebagai pointer */
  padding: 0; /* Hilangkan padding default */
  outline: none; /* Hilangkan outline default */
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px #aaa; /* Tambahkan shadow saat tombol difokuskan */
}

.icon {
  color: #f1c40f; /* Warna default untuk ikon FaMoon */
  font-size: 24px; /* Ukuran font untuk ikon */
}

.dark-mode .icon {
  color: #f39c12; /* Warna untuk ikon FaSun dalam mode gelap */
}

.dark-mode .toggleButton:focus {
  box-shadow: 0 0 0 2px #f39c12; /* Shadow untuk tombol saat difokuskan dalam mode gelap */
}

body.dark-mode {
  background-color: #000;
  color: #fff; /* Warna teks dalam mode gelap */
}
