/* Carousel.module.css */

.carouselContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #1a2b6f;
    padding: 80px 0;
    padding-bottom: 90px;
    transition: background-color 0.3s ease;
}

.carouselTitle {
    text-align: center;
    font-size: 3.5rem;
    color: #ffffff;
    margin-bottom: 30px;
    padding-bottom: 30px;
    transition: color 0.3s ease;
}

.carouselWrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Durasi dan transisi animasi */
}

.carouselSlide {
    min-width: 15%; /* Sesuaikan dengan jumlah gambar dan ukuran yang diinginkan */
    height: 250px; /* Kurangi tinggi sesuai keinginan */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.carouselSlide img {
    border-radius: 10px;
    transition: filter 0.3s ease;
}

.imageOverlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease;
}

.carouselSlide:hover .imageOverlay {
    opacity: 1;
    transform: translateY(0);
}

.leftArrow, .rightArrow {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 25px; /* Adjust the padding for proper size */
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
    font-size: 20px; /* Adjust font size for arrow icons */
    line-height: 0; /* Ensure the icons are centered */
}

/* Ensure the arrows are placed correctly */
.leftArrow {
    left: 20px; /* Adjust to position the arrow properly */
}

.rightArrow {
    right: 20px; /* Adjust to position the arrow properly */
}

/* Dark Mode Styles */
:global(.dark-mode) .carouselContainer {
    background-color: #1a1a2e;
    border: 1px solid #353554;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

:global(.dark-mode) .carouselTitle {
    color: #6c63ff;
}

:global(.dark-mode) .imageOverlay {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
}
