/* Prioritize this file's styles over Bootstrap */
.containerFluid {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.navbarNav {
  display: flex !important;
  flex: 1 !important;
  justify-content: center !important;
  gap: 40px !important;
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.navbarRight {
  display: flex;
  align-items: center;
}

.navbarBrand {
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.navbarBrandSpan {
  color: #000 !important;
  font-weight: bold;
  font-size: 1.2em;
}

.navbarControls {
  display: flex !important;
  align-items: center !important;
  margin-left: auto !important;
  gap: 50px !important;
}

.navLink,
.dropdownItem {
  color: #000000 !important;
  position: relative;
  transition: color 0.3s, transform 0.3s ease-in-out;
  text-decoration: none !important;
}

.navLink:hover,
.dropdownItem:hover {
  color: #0048ff !important;
  transform: scale(1.05);
  cursor: pointer;
}

.navLinkActive {
  font-weight: bold;
  color: #0048ff !important;
}

.navbarVisible {
  position: sticky !important;
  top: 0 !important;
  transform: translateY(0) !important; /* Navbar ditampilkan */
  transition: transform 0.3s ease-in-out !important;
  z-index: 1000 !important; /* Agar navbar selalu di atas konten lain */
}

.navbarHidden {
  position: sticky !important;
  top: 0 !important;
  transform: translateY(-100%); /* Navbar disembunyikan */
  transition: transform 0.3s ease-in-out !important;
  z-index: 1000 ! important;
} 


.navLink::before,
.dropdownItem::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -7px;
  left: 50%;
  background-color: #0048ff;
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out, opacity 0.3s ease-in-out;
  border-radius: 2px;
  opacity: 0;
  transform: translateX(-50%);
}

.navLink:hover::before,
.dropdownItem:hover::before,
.navLinkActive::before,
.dropdownItemActive::before {
  width: 110%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
}
