.searchContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 20px; /* Lebar awal hanya untuk ikon */
  transition: width 0.3s ease-in-out; /* Transisi lebar untuk efek saat hover */
  overflow: hidden;
}

.searchVisible {
  width: 250px; /* Lebar penuh saat hover, termasuk ikon */
}

.searchIcon {
  z-index: 2;
  cursor: pointer;
  margin-right: 10px; /* Jarak antara ikon dan input */
  transition: opacity 0.3s ease-in-out; /* Efek fade out untuk ikon */
}

.gcse-searchbox-only {
  width: 100%;
  opacity: 0; /* Sembunyikan input search */
  transition: opacity 0.3s ease-in-out;
  z-index: 1; /* Input berada di bawah ikon */
}

.searchVisible .gcse-searchbox-only {
  opacity: 1; /* Tampilkan input search saat hover */
}

.searchVisible .searchIcon {
  opacity: 0; /* Sembunyikan ikon saat hover */
}
