/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Mode */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #0d0d0d; /* Warna latar belakang default */
  color: #000000; /* Warna teks default */
  transition: background-color 0.3s, color 0.3s; /* Transisi untuk perubahan warna latar belakang dan teks */
}

html, body {
  height: auto;
  margin: 0;
}

html{
  scroll-behavior: smooth; /* Perilaku smooth scrolling */
}

/* Dark Mode */
body.dark-mode {
  background-color: #000000; /* Warna latar belakang untuk mode gelap */
  color: #ffffff; /* Warna teks untuk mode gelap */
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Pastikan halaman minimal setinggi viewport */
}

.contentWrap {
  flex: 1; /* Isi konten memenuhi ruang yang tersisa */
}
