/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Mode */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #0d0d0d;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}



/* Styling untuk Language Switcher */
.language-switcher {
  position: relative;
  display: inline-block;
}

.language-switcher .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.language-switcher:hover .dropdown-content,
.language-switcher:focus-within .dropdown-content {
  display: block;
  opacity: 1;
  margin-top: 3px;
}

.language-switcher .dropdown-content a {
  color: #000000 !important; /* Warna teks default */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.language-switcher .dropdown-content a:hover {
  color: #0048ff !important; /* Warna teks saat hover */
  transform: scale(1.02); /* Membesarkan teks sedikit */
}

.language-switcher .dropdown-content a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #0048ff; /* Warna underline */
  transition: width 0.3s, left 0.3s;
  border-radius: 2px;
}

.language-switcher .dropdown-content a:hover::before {
  width: 100%;
  left: 0;
}

.language-switcher .dropbtn {
  position: relative;
  color: #000000;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

.language-switcher .dropbtn:hover {
  color: #0048ff !important; /* Blue hover link color */
}

.language-switcher .dropbtn::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px; /* Atur sesuai jarak yang diinginkan */
  left: 50%;
  background-color: #0048ff; /* Blue underline color */
  transition: width 0.3s, left 0.3s;
  border-radius: 2px;
}

.language-switcher .dropbtn:hover::before {
  width: 100%;
  left: 0;
}

/* CSS untuk transisi smooth pada kotak input pencarian */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  cursor: pointer;
  margin-right: 8px;
}

.search-form {
  opacity: 0;
  width: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden; /* Menyembunyikan bagian input yang tidak terlihat */
}

.search-form.visible {
  opacity: 1;
  width: 200px; /* Sesuaikan sesuai kebutuhan */
}

.search-input {
  width: 100%;
}

/* Custom Styles for Navbar Links */
.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
  color: #000000 !important; /* Default link color */
  position: relative;
  transition: color 0.3s, transform 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
  color: #0048ff !important; /* Blue hover link color */
  transform: scale(1.02); /* Membesarkan teks sedikit */
}

.navbar-nav .nav-link.active,
.navbar-nav .dropdown-item.active {
  font-weight: bold;
  color: #0048ff !important;
}

.navbar-nav .nav-link::before,
.navbar-nav .dropdown-item::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #0048ff; /* Blue underline color */
  transition: width 0.3s, left 0.3s;
  border-radius: 2px;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .dropdown-item:hover::before,
.navbar-nav .nav-link.active::before,
.navbar-nav .dropdown-item.active::before {
  width: 100%;
  left: 0;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 20px; /* Atur jarak antar item sesuai kebutuhan */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-controls {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 15px; /* Atur jarak antar item sesuai kebutuhan */
}

/* Navbar Light Mode */
.navbar-light {
  background-color: #f8f9fa;
  color: #000000;
}



.dropdown-menu {
  z-index: 1000; /* Pastikan dropdown berada di atas elemen lain */
}

/* Dark Mode */
body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

body.dark-mode a:not(.navbar-nav .nav-link):not(.navbar-nav .dropdown-item) {
  color: #00ff00; /* Light color for other links in dark mode */
}

body.dark-mode a:not(.navbar-nav .nav-link):not(.navbar-nav .dropdown-item):hover {
  color: #00cc00; /* Hover color for other links in dark mode */
}

/* Navbar Dark Mode */
body.dark-mode .navbar-light {
  background-color: #2c2828;
  color: #000000; /* Ensure text color is light in dark mode */
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
  color: #000000 !important; /* Ensure text color is black in dark mode */
}

body.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #551a8b !important; /* Ensure hover color is appropriate in dark mode */
}

body.dark-mode .navbar-light .navbar-brand {
  color: #000000 !important; /* Ensure brand color is black in dark mode */
}

body.dark-mode .navbar-light .navbar-brand span {
  color: #000000 !important; /* Ensure brand text color is black in dark mode */
}

body.dark-mode .language-switcher .dropdown-content a {
  color: #000000 !important; /* Ensure text color is black in dark mode */
}

body.dark-mode .language-switcher .dropdown-content a:hover {
  background-color: #f1f1f1 !important; /* Optional: Hover background color */
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}



/* Custom styles for navbar controls (LanguageSwitcher and DarkModeToggle) */
.navbar-controls {
  display: flex;
  gap: 10px;
  align-items: center; /* Ensure controls are vertically centered */
}

.navbar-controls button {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 14px;
  color: #000000;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-controls button.dark-mode {
  background-color: #343a40;
  color: #ffffff;
}

.navbar-controls button.dark-mode:hover {
  background-color: #23272b;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Ensure footer text and icons remain white in dark mode */
.footer, .footer a, .footer-social a {
  color: #ffffff !important; /* Warna putih */
}

.footer-social a {
  color: #ffffff !important; /* Warna putih untuk ikon */
}

.footer-social a:hover {
  color: #dddddd !important; /* Warna saat hover, sedikit lebih gelap */
}

/* Avoid affecting dark mode styles in other parts */
body.dark-mode .footer, 
body.dark-mode .footer a, 
body.dark-mode .footer-social a {
  color: #ffffff !important; /* Warna putih dalam mode gelap */
}


.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.navbar-brand span {
  color: #000000 !important; /* Ensure brand text color is black */
}
